@import "vendor/bootstrap/bootstrap/responsive-embed";
@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bourbon/bourbon";
@import "variables";
@import "typography";
@import "utility-classes";
@import "feature-group";
@import "components/checkbox-list";

// all-clickable styling
.js-hover {
  cursor: pointer;

  a {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

// Inherit home styling
.flex-row {
  display: flex;
}

// Override features styling
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.feature {
  width: auto;
  height: 100%;
  margin: 0 0 $spacing-unit-sm;

  @media (min-width: $screen-md-max) {
    margin-bottom: 30px;
  }
}
