---
layout: markdown_page
title: How GitLab is Enterprise Class
---

= partial('includes/enterprise-class/gitlab-enterprise-class.md')

%hr
  This page can be downloaded as
  %a{href: 'enterprise-considerations.pdf'}
    PDF.
